@import '../../abstarct/variables';
@import '../../abstarct/config';

$prefix: dropdown-select;

.#{$prefix} {
	background-color: $surface-color;
	border-radius: 12px;
	position: absolute;
	bottom: -1.25rem;
	left: 3.8rem;
	width: 250px;
	height: 350px;
	z-index: 999;
	border: 1px solid rgba(0, 0, 0, 0.04);
	white-space: normal;
	border: 1px solid #ccc;
	@extend %box-shadow;

	&__header {
		@extend %flex-align-center;
		justify-content: space-between;
	}

	& > &__inner {
		color: set-text-color($surface-color);
		padding: 1rem 0;
		position: relative;
		width: 100%;
		height: 100%;

		&::before {
			content: '';
			position: absolute;
			left: -2rem;
			bottom: 1.5rem;
			width: 0;
			height: 0;
			border: 16px solid transparent;
			border-right-color: $surface-color;
		}

		& > .#{$prefix}__content {
			overflow-x: hidden;
			width: 100%;
			height: 100%;

			& > .#{$prefix}__list {
				display: flex;
				width: 200%;
				height: 100%;
				transition: transform 0.3s ease-in-out;

				&.slide {
					transform: translateX(-50%);
				}

				& > ul {
					list-style: none;
					width: 50%;
					height: 100%;
					overflow-y: auto;
					flex-shrink: 0;

					& > li {
						padding: 10px 1rem;
						cursor: pointer;

						&:hover,
						&:focus {
							background-color: $shadow-color;
						}
					}
				}

				& > .#{$prefix}__selected {
					background-color: $surface-color;
					padding: 1rem;
					width: 50%;
					height: 100%;
					overflow-y: auto;
					flex-shrink: 0;
				}
			}
		}
	}
}

@include media-tablet {
	.#{$prefix} {
		width: 300px;
		height: 400px;
	}
}
