@function set-text-color($color) {
	@if (lightness($color) > 50) {
		@return #000;
	} @else {
		@return #fff;
	}
}

@mixin color($color) {
	color: set-text-color($color);
	background-color: $color !important;
	border: 1px solid darken($color, 10%) !important;
}

@mixin box-shadow {
	box-shadow: 0 4px 25.2px rgba(0, 0, 0, 0.029),
		0 9.3px 37.6px rgba(0, 0, 0, 0.075),
		0 11.4px 49.4px rgba(0, 0, 0, 0.114), 0 12px 79px rgba(0, 0, 0, 0.14);
}

@mixin sliding-floor {
	position: relative;

	&::after {
		content: '';
		width: 100%;
		height: 2px;
		position: absolute;
		bottom: -3px;
		left: 0;

		background: linear-gradient(
				to left,
				transparent 50%,
				$active-element 50%
			)
			right;
		background-size: 200.5%;
		transition: background-position 0.2s ease-in-out, color 0.2s ease-in-out;
	}

	&:hover::after,
	&.active::after {
		background-position: left;
	}
}

@mixin media-tablet {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin media-laptop {
	@media screen and (min-width: 1024px) {
		@content;
	}
}

@mixin media-laptop-lg {
	@media screen and (min-width: 1440px) {
		@content;
	}
}

@mixin media-laptop-lg-extra {
	@media screen and (min-width: 1920px) {
		@content;
	}
} ;
