@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $background-color;
	color: set-text-color($background-color);
	min-height: 100vh;
	overflow-x: hidden;
	position: relative;

	background: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;

	word-wrap: break-word;
	font-size: 16px;
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap)
		format('woff2');
	font-display: swap;
}

body,
input,
textarea,
select {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: $active-element;
}

header {
	margin-bottom: 0.5rem;
	color: $grey-color;
}

fieldset {
	border: none;

	& > legend {
		font-weight: 500;
		margin-bottom: 4px;
	}
}

.badge {
	position: absolute;
	top: -4px;
	right: -6px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	background-color: $important-color;
	padding: 0 4px;
	color: set-text-color(set-text-color($important-color));
	font-weight: 700;
	font-size: 12px;
	border-radius: 30px;

	&.rounded {
		top: 0;
		right: 0;
	}
}

.dark-bg {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background-color: rgba(#000000, 0.5);
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
