.center-container {
	@extend %flex-center;
	width: 100%;
	height: 100%;

	&.fullscreen {
		width: 100vw;
		height: 100vh;
	}
}

.center-item {
	margin: auto;
}

.clickable {
	cursor: pointer;
}

.title-container {
	text-align: center;
	margin-bottom: 3rem;

	& > p.description {
		margin-top: 1rem;
	}
}

.word-break-all {
	white-space: pre;
}

.seperator {
	width: 70%;
	opacity: 0.3;
	margin: 0.5rem auto;
	border-color: $border-color;
	border-style: solid;

	&.lg-space {
		margin: 1rem auto;
	}
}

.inline-wrap {
	@extend %flex-align-center;

	gap: 0.75rem;
	width: 100%;
}

.space-between {
	@extend %flex-align-center;
	justify-content: space-between;
	gap: 1rem;
}

.wrap-vertical {
	flex-wrap: wrap;
	justify-content: space-around;
}

.text-broken,
.title-container > p.description {
	color: $grey-color;
	font-size: 0.85em;
	line-height: 1.57143em;
}

.slide-floor {
	@extend %sliding-floor;
}

.icon-container {
	@extend %flex-align-center;

	&__icon {
		margin-right: 0.5rem;
	}
}

.info-text {
	@include bg-color($info-color);
	padding: 4px 8px;
	border-radius: 12px;
}

@mixin box-color($color) {
	color: set-text-color($color);
	background-color: $color !important;
	border-color: 1px solid darken($color, 10%) !important;
}

.black {
	@include box-color($black-color);
}
.light-blue {
	@include box-color($light-blue-color);
}
.blue {
	@include box-color($blue-color);
}
.light-green {
	@include box-color($light-green-color);
}
.green {
	@include box-color($green-color);
}
.pink {
	@include box-color($pink-color);
}
.purple {
	@include box-color($purple-color);
}
.brown {
	@include box-color($brown-color);
}
.yellow {
	@include box-color($yellow-color);
}
.orange {
	@include box-color($orange-color);
}

.box-color {
	width: 1rem;
	height: 1rem;
	border-radius: 4px;
}

@include media-tablet {
	.d-md {
		display: none;
	}
}
