.card-container {
	display: flex;
	gap: 1rem;
	flex-direction: column;
	width: 100%;

	& > .card {
		margin: 0 auto;
	}
}

.card {
	$border-radius: 10px;

	width: 100%;
	background-color: $surface-color;
	border-radius: $border-radius;
	@include shadow-sm;

	& > &__title {
		background-color: $secondary-color;
		color: set-text-color($secondary-color);
		padding: 1.5rem;
		font-size: 1.3em;
		font-weight: 600;
		letter-spacing: 1px;
		text-align: center;
		border-radius: $border-radius $border-radius 0 0;
	}

	& > &__body {
		padding: 1rem 1.5rem;
	}

	&.form-card {
		width: 100%;
		height: 100%;

		& > .card__body {
			padding: 2rem 1.5rem;
		}
	}
}

@include media-tablet {
	.card-container {
		flex-direction: row;

		&.vertical {
			flex-direction: column;
		}
	}
}

@media screen and (min-width: 640px) {
	.card.form-card {
		width: 448px;
	}
}
