.modal {
	$border-radius: 6px;

	z-index: 999;
	min-width: 90%;
	margin: 0 auto;
	background-color: $surface-color;
	border: 1px solid $border-color;
	border-radius: $border-radius;
	position: relative;

	& > &__header {
		border-radius: $border-radius $border-radius 0 0;
		padding: 1rem;
		background-color: $secondary-color;
		color: set-text-color($secondary-color);
		font-size: 1.3em;
	}

	& > &__body {
		padding: 1rem;
	}

	animation: show 0.4s;
	@include box-shadow;
}

@keyframes show {
	from {
		opacity: 0;
		transform: translateY(-25%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@include media-tablet {
	.modal {
		min-width: 60%;

		& > &__body {
			padding: 2rem;
		}
	}
}
