.brick-loader {
	width: 200px;
	height: 200px;
	margin: 1rem auto;

	& > &__brick {
		width: 33%;
		height: 33%;
		background-color: #333;
		float: left;
		-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
		animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;

		&:nth-child(1) {
			-webkit-animation-delay: 0.2s;
			animation-delay: 0.2s;
		}

		&:nth-child(2) {
			-webkit-animation-delay: 0.3s;
			animation-delay: 0.3s;
		}

		&:nth-child(3) {
			-webkit-animation-delay: 0.4s;
			animation-delay: 0.4s;
		}

		&:nth-child(4) {
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}

		&:nth-child(5) {
			-webkit-animation-delay: 0.2s;
			animation-delay: 0.2s;
		}

		&:nth-child(6) {
			-webkit-animation-delay: 0.3s;
			animation-delay: 0.3s;
		}

		&:nth-child(7) {
			-webkit-animation-delay: 0s;
			animation-delay: 0s;
		}

		&:nth-child(8) {
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}

		&:nth-child(9) {
			-webkit-animation-delay: 0.2s;
			animation-delay: 0.2s;
		}
	}
}

@-webkit-keyframes sk-cubeGridScaleDelay {
	0%,
	70%,
	100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	}
	35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1);
	}
}

@keyframes sk-cubeGridScaleDelay {
	0%,
	70%,
	100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	}
	35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1);
	}
}

.circle-loader {
	display: inline-block;
	position: relative;
	margin: 1rem auto;
	width: 80px;
	height: 80px;

	& > &__item {
		box-sizing: border-box;
		display: block;
		position: absolute;
		width: 64px;
		height: 64px;
		margin: 8px;
		border: 8px solid $primary-color;
		border-radius: 50%;
		animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		border-color: $primary-color transparent transparent transparent;

		&:nth-child(2) {
			animation-delay: -0.3s;
		}

		&:nth-child(3) {
			animation-delay: -0.15s;
		}
	}
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
