@import '../abstarct/variables';
@import '../abstarct/config';

.card-container {
	display: flex;
	gap: 1rem;
	flex-direction: column;
	width: 100%;

	& > .card {
		margin: 0 auto;
	}
}

.card {
	background-color: $surface-color;
	width: 100%;
	border-radius: 8px;
	@extend %shadow-sm;

	& > &__header {
		border-bottom: 1px solid $border-color;
		padding: 1.5rem;
		font-size: 1.3em;
		font-weight: 600;
		letter-spacing: 1px;
		text-align: center;
	}

	& > &__body {
		padding: 1rem 1.5rem;
	}

	&.form-card {
		width: 100%;

		& > .card__body {
			padding: 1.5rem;
			height: 100%;

			.form-card__btn {
				width: 75%;
				margin: 1rem auto;
			}
		}
	}

	&.address-card {
		width: 70%;
		position: absolute;
		z-index: 1;
		bottom: 1.55rem;
		left: 0.4rem;

		& > .card__body {
			@extend %flex-align-center;
			justify-content: space-between;
			overflow-x: auto;
			font-size: 0.85em;
			line-height: 1.5;
		}
	}
}

@include media-tablet {
	.card-container {
		flex-direction: row;

		&.vertical {
			flex-direction: column;
		}
	}
}

@include media-phone {
	.card.form-card {
		width: 448px;
	}
}
