@import '../abstarct/variables';
@import '../abstarct/config';

$nav-color: $primary-color;

.dashboard {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	overflow: hidden;
	width: 100vw;

	&__btn {
		@extend %flex-align-center;
		flex-direction: column;
		justify-content: center;
		background-color: transparent;
		font-size: 0.75em;
		width: 100%;
		padding: 0.75rem 3px;
		text-align: center;
		color: set-text-color($nav-color);
		opacity: 0.5;
		text-transform: lowercase;

		&:hover,
		&.active {
			opacity: 1;
		}

		&__icon {
			font-size: 1.8em;
			margin-bottom: -0.15em;
			color: set-text-color($nav-color);
		}

		&-open {
			& > &__icon {
				margin-bottom: -0.3em;
			}
		}
	}

	&__menu {
		overflow: auto;
		position: fixed;
		left: 4rem;
		top: 1rem;
		background-color: $surface-color;
		z-index: 5;
		border-radius: 0 10px 10px;
		max-height: 100%;
		width: 100%;
		@extend %shadow-sm;

		&-btn {
			margin-top: 0.5rem;
			padding: 0;
			text-transform: uppercase;
			cursor: pointer;

			&__icon {
				font-size: 2.2em;
			}
		}
	}

	&__nav {
		user-select: none;
		height: 100vh;
		@include bg-color($nav-color);
		@extend %flex-align-center;
		flex-direction: column;
		justify-content: space-between;
		border-radius: 0;
		border-right: 1px solid #000;

		.business_logo {
			object-fit: cover;
			width: auto;
			height: 2.5rem;
			border-radius: 50%;
		}

		&__header {
			margin: 1rem 0 0.5rem 0;
		}
		&__footer {
			margin-bottom: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.5rem;
		}

		&__body {
			overflow-y: auto;
			height: 100%;
		}
	}

	& > &__body {
		@include bg-color($background-color);
		width: 100%;
		padding: 1rem 1rem 0 1rem;
		overflow-y: auto;
	}
}

@include media-tablet {
	.dashboard {
		&__menu {
			display: flex;
			align-items: flex-start;
			position: static;
			width: 220px;
			border-radius: 0;
			box-shadow: none;
			border-right: 1px solid $border-color;
		}

		& > &__body {
			padding-left: 1.5rem;
		}
	}
}
