@import '../abstarct/variables';
@import '../abstarct/config';

.modal {
	z-index: 999;
	min-width: 90vw;
	margin: 2rem;
	border-radius: 8px;
	background-color: $surface-color;
	position: relative;

	& > &__header {
		padding: 1rem;
		border-bottom: 1px solid $border-color;
		font-size: 1.3em;
	}

	& > &__body {
		padding: 1rem;
	}

	animation: show 0.25s ease-in-out;

	&.fullscreen {
		width: 100vw;
		min-height: 100vh;
		margin: 0;
		border: none;
		border-radius: 0;
		background-color: $background-color;

		& > .modal__body {
			height: 100vh;
			overflow: auto;
		}
	}
}

@keyframes show {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@include media-phone {
	.modal.small {
		min-width: 32rem;
		width: 32rem;
	}
}

@include media-tablet {
	.modal {
		min-width: 60vw;

		& > &__body {
			padding: 2rem;
		}
	}
}
