@import '../abstarct/variables';
@import '../abstarct/config';

.page-hero {
	width: 100%;
	min-height: 100vh;
	padding: 0 2rem;
	@extend %flex-align-center;
	justify-content: space-evenly;
	gap: 2rem;
	flex-direction: column;

	&__title {
		margin-bottom: 50px;
		font-size: 2em;
		text-align: justify;
	}

	&__content {
		max-width: 100%;
	}

	&__text {
		color: $grey-color;
		text-align: justify;
		font-size: 1.1em;
	}

	&__img-container {
		order: -1;
		max-width: 60%;
	}

	&__img {
		z-index: -1;
		display: block;
		height: auto;
		width: 100%;
	}
}

@include media-tablet {
	.page-hero {
		flex-direction: row;

		&.vertical {
			justify-content: baseline;
			flex-direction: column;
			gap: 3rem;
		}

		&__title {
			font-size: 2.5em;
		}

		&__content {
			width: 40%;
			max-width: 40%;
		}

		&__img-container {
			order: 0;
			max-width: 25%;
		}
	}
}

@include media-laptop-lg {
	.page-hero {
		&__title {
			font-size: 3em;
		}

		&__content {
			width: 35%;
			max-width: 35%;
		}
	}
}
