@import '../abstarct/variables';

.circle-loader {
	display: inline-block;
	position: relative;
	margin: 1rem auto;
	width: 80px;
	height: 80px;

	& > &__item {
		box-sizing: border-box;
		display: block;
		position: absolute;
		width: 4rem;
		height: 4rem;
		margin: 0.5rem;
		border: 6px solid $primary-color;
		border-radius: 50%;
		animation: lds-ring 1.2s cubic-bezier(0.4, 0.15, 0.6, 0.8) infinite;
		border-color: $primary-color transparent transparent transparent;

		&:nth-child(2) {
			animation-delay: -0.25s;
		}

		&:nth-child(3) {
			animation-delay: -0.1s;
		}
	}
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
