.#{$prefix}__checkbox-label {
	display: inline-flex;
	gap: 1rem;
	align-items: center;
	position: relative;
	cursor: pointer;
	font-size: 1em;
	font-weight: 500;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:hover .#{$prefix}__checkbox ~ .#{$prefix}__checkbox-checkmark {
		background-color: lighten($border-color, 15%);
	}

	& > .#{$prefix}__checkbox {
		position: absolute;
		visibility: hidden;

		&:checked ~ .#{$prefix}__checkbox-checkmark {
			background-color: $primary-color;
			border-color: $primary-color;

			&:after {
				display: block;
			}
		}
	}

	& > .#{$prefix}__checkbox-checkmark {
		position: relative;
		height: 24px;
		width: 24px;
		transition: background-color 0.2s ease-in-out,
			border-color 0.2s ease-in-out;
		background-color: #fff;
		border: $border-color 1px solid;
		border-radius: 6px;

		&:after {
			content: '';
			position: absolute;
			top: (24px/5.5);
			left: (24px/3);
			display: none;
			width: 7px;
			height: 12px;
			border: solid #fff;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}
