@import '../../abstarct/config';

$prefix: form-control;
$form-control-vertical-margin: 2rem;

%invalid {
	box-shadow: none;
	border: 1px solid $error-color !important;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
	color: $error-color;
	padding: 0.5rem;

	&:focus {
		outline: 1px solid $active-element;
		border-color: $active-element !important;
		color: inherit;
	}
}

.#{$prefix}__errors {
	@include bg-color($error-color);
	border-radius: 0 0 6px 6px;
	padding: 0.2rem 0;
	font-size: 0.75em;
	padding: 0.25rem 0.7rem;
	border: 1px solid $error-color;
	border-top: none;
}
