%active-label {
	font-size: 1.15em;
	transform: translateY(-0.8em) scale(0.7);
}

.#{$prefix} {
	& &__label {
		cursor: text;
		bottom: 0.3em;
		position: absolute;
		transform-origin: top left;
		transition: transform 0.2s, font-size 0.2s;
		z-index: 1;
		color: darken($grey-color, 20%);

		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&:focus-within > &__label {
		font-weight: 500;
		color: $active-element;
		@extend %active-label;
	}

	& &__label.active {
		@extend %active-label;
	}
}
