@mixin active-label {
	font-size: 1.1em;
	transform: translateY(-1rem) scale(0.7);
}

.#{$prefix} {
	&__label {
		cursor: text;
		color: inherit;
		font-size: 1em;
		position: absolute;
		transform-origin: top left;
		transition: all 0.1s ease-in-out;
		z-index: 1;
		opacity: 0.7;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&:focus-within > &__label,
	&__label.active {
		@include active-label;
	}
}
