@import '../../abstarct/variables';
@import '../../abstarct/config';

%menu {
	overflow: auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

@import './select-menu';
@import './tools-menu';
@import './root-menu';
