.root-menu {
	&__container {
		padding: 0.5rem;
		font-size: 0.8em;
		width: 100%;
		max-height: 100%;
		overflow: auto;
	}

	& > ul {
		position: relative;
		list-style: none;
		display: none;
		margin-left: 1.5rem;
		min-width: 100%;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0.8rem;
			bottom: 1rem;
			width: 1px;
			background-color: #ccc;
		}
	}

	&.head {
		& > ul {
			display: block;
			margin-left: 0.3rem;
		}

		& > .root-menu__label {
			padding-left: 0.5rem;

			&::before {
				content: none;
			}
		}
	}

	&__label {
		position: relative;
		color: set-text-color($surface-color);
		opacity: 0.7;
		cursor: pointer;
		padding-left: 2rem;
		line-height: 2rem;
		white-space: nowrap;
		text-overflow: ellipsis;
		border-radius: 0.5rem;
		min-width: 100%;
		display: flex;
		width: max-content;
		align-items: center;
		gap: 0.5rem;
		border: 1px solid transparent;

		&:hover,
		&.active {
			background-color: $shadow-color;
			border: 1px solid $border-color;
		}

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0.8rem;
			height: 1px;
			width: 0.8rem;
			background-color: #ccc;
		}
	}

	input[type='radio'] {
		display: none;
	}

	&__label.active + ul,
	& > ul.open {
		display: block;
	}
}
