.select-menu {
	font-size: 0.9em;
	@include menu;

	& > &__item {
		padding: 0.9rem 1rem;
		cursor: pointer;
		width: 100%;
		color: set-text-color($surface-color);

		&:hover,
		&.active {
			background-color: $shadow-color;
		}
	}
}
