.tools-menu {
	@include menu;
	gap: 1rem;

	&__item {
		width: 100%;
		margin-bottom: 0.5rem;
		border-bottom: 1px solid $border-color !important;

		&:last-child {
			border-bottom: none !important;
		}

		& > &__title {
			color: $primary-color;
			font-weight: 500;
			font-size: 0.8em;
			text-transform: uppercase;
			padding: 0 0 0.5rem 0.3rem;
		}
	}
}
