@import '../../abstarct/variables';
@import '../../abstarct/config';

.btn {
	@extend %flex-center;
	outline: none;
	border: 4px solid $black-color;
	border-radius: 8px;
	cursor: pointer;
	width: fit-content;
	text-align: center;
	transition: background-color 0.1s ease-in, border-color 0.1s ease-in,
		border-radius 0.1s ease-in;
	font-size: 0.85em;
	line-height: 1.15;
	color: inherit;
	user-select: none;

	&-picker {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 0.9em;
		padding: 0.4rem;
		border-width: 1px;

		&:hover,
		&:focus {
			background-color: $shadow-color;
		}
	}

	&-close {
		position: relative;
		width: 32px;
		height: 32px;
		opacity: 0.8;
		cursor: pointer;

		&::before,
		&::after {
			position: absolute;
			content: '';
			height: 33px;
			width: 2px;
			background-color: $primary-color;
		}

		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}
	}

	&__link {
		display: initial;
		border: none;
		background: transparent;
		color: $active-element;
		font-size: inherit;
	}

	&__primary,
	&__success,
	&__danger {
		padding: 0.5rem 1.5rem;
	}

	&__primary,
	&__success,
	&__danger,
	&__secondary {
		font-weight: 600;
		text-transform: uppercase;
	}

	&__primary {
		@include bg-color($primary-color, true);

		&:hover,
		&:focus {
			@include bg-color($primary-color-hover, true);
			border-bottom-color: $primary-color;
		}
	}

	&__secondary {
		@include bg-color($secondary-color);
		border-width: 1px;
		padding: calc(0.5rem + 4px) 1.5rem;

		&:hover,
		&:focus {
			border-color: transparent;
			border-bottom-color: $black-color;
			background-color: transparent;
			border-radius: 0;
		}
	}

	&__success {
		@include bg-color($success-color, true);

		&:hover,
		&:focus {
			$hover-color: darken($success-color, 15%);
			border-color: $hover-color;
			border-bottom-color: $success-color;
			background-color: $hover-color;
			color: set-text-color($hover-color);
		}
	}

	&__danger {
		@include bg-color($error-color, true);

		&:hover,
		&:focus {
			$hover-color: darken($error-color, 15%);
			border-color: $hover-color;
			border-bottom-color: $error-color;
			background-color: $hover-color;
			color: set-text-color($hover-color);
		}
	}

	&__rounded {
		background-color: transparent;
		padding: 0.5rem;
		border: none;
		border-radius: 30px;

		&:hover,
		&:focus {
			background-color: $shadow-color;
		}
	}

	&__small {
		padding: 0.25rem 0.75rem;
		font-weight: 500;
	}

	&__extraSmall {
		color: $active-element;
		padding: 0;
		border: none;
		background-color: transparent;
	}

	&__loading {
		padding: 0rem 0.3rem;
		@extend %loading-spinner;
	}

	&[disabled] {
		opacity: 0.7;
		cursor: default;
		pointer-events: none;
	}
}

@include media-laptop {
	.btn {
		$this: &;
		&__primary,
		&__success,
		&__danger {
			padding: 0.75rem 1.75rem;
		}

		&__secondary {
			padding: calc(0.75rem + 4px) 1.75rem;
		}

		&__small {
			padding: 0.5rem 1rem;

			&#{$this}__loading {
				padding: 0.05rem 0.5rem !important;
			}
		}

		&__loading {
			padding: 0.3rem 1rem;
		}
	}
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

// @import './abstarct/variables';
// @import './abstarct/config';

// @import './base/base';
// @import './base/utilities';

// @import './layout/spinner';
// @import './layout/card';
// @import './layout/pageHero';
// @import './layout/btn';
// @import './layout/table';
// @import './layout/big-calendar';
// @import './layout/calendar-picker';
// @import './layout/modal';
// @import './layout/dashboard';
// @import './layout/menus/_main';
// @import './layout/form/_main';
// @import './layout/dropdowns/main';
